# Top Sector should be changed
TOPSECTOR: 15
# same wif bottom sector
BOTTOMSECTOR: 5

# if doing even runs, mark as 1, otherwise 0.
EVENRUN: 0
#if doing odd runs, mark as 1, otherwise 0
ODDRUN: 1

# Minimum ADC count required for tile of interest: minimum ADC cut for the raw histograms, should be low.
MINADC: 1000

# Maximum ADC count allowed for adjacent tiles: 
# For isolation cut: maxadc > 100 will set a hard threshold for isolation
#                0-100 : will set a percentage threshold of the value in tile of interest. 
MAXADC: 15

# look at sEPD Testing Analysis webpage to find file names for specific tests:
# to get .root file, use ../../wd409_sectortest/wd409 to convert from .prdf
# https://sphenix-intra.sdcc.bnl.gov/WWW/user/dlis/sEPD_Test_Analysis/
FILESTACKODD: /sphenix/data/data02/sphenix/cemc/sectortest/root/cosmic_00023049-0000.root
FILESHIFTODD:
FILESTACKEVEN: 
FILESHIFTEVEN:
DEBUG: true

# when this is fixed, set to 0
BADSIPM: 1
OUTDIR: /sphenix/data/data02/sphenix/cemc/sectortest/macros/dan/root/

